name: Verifying the latest commit
run-name: ${{ github.actor }} is verifying the validity of current commit
on: [push]
jobs:
  check-sha:
    runs-on: ubuntu-latest
    name: Check the SHA of the latest commit
    steps:
      - name: Checkout the code
        uses: actions/checkout@v5
      - name: Run repasar on the latest SHA
        uses: rogeruiz/repasar@v1.1.0
        with:
          allowed-signers-file-path: ./.github/allowed_signers
          fail-on-unverified: true
