name: Verifying the commits on a PR
run-name: ${{ github.actor }} is verifying the validity of current commit
on: [pull_request]
jobs:
  check-sha:
    runs-on: ubuntu-latest
    name: Check the SHA of the any commits in a pull request
    steps:
      - name: Checkout the code
        uses: actions/checkout@v5
      - name: Run repasar on the latest PR changes
        uses: rogeruiz/repasar@v1.1.3
        with:
          allowed-signers-file-path: .github/allowed_signers
          fail-on-unverified: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
